{% load static %}
<!DOCTYPE html>
<html>
{% include 'head.html' %}
<body>
{% include 'header.html' %}

<div class="gpa-container">

<h1>Assignment Submission and Instructions </h1>

<p>
   <a href="{% url 'dashboard' %}" class="button">Return Home</a>
</p>
<!-- Form which user will enter in requried information to submit documents! -->
<div class="converter-card">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p id="instruction_display">Instructions:</p>
    <!-- This will update based on the assignment selected and display due date -->
    <p id="due_date_display">Assignment Due Date: </p>

    <!-- Student name and course code within form for them to fill out -->
    <!-- Assignment drop down bar and file upload sections also within form  -->
    {{ form.student_name.label_tag }} {{ form.student_name }}<br><br>
    {{ form.course_code.label_tag }} {{ form.course_code }}<br><br>
    {{ form.assignment.label_tag }} {{ form.assignment }}<br><br>
    {{ form.file.label_tag }} {{ form.file }}<br><br>

<!-- submit the assignment button which will allow prof to see and grade-->
    <input class="gpa-btn" type="submit" value="Submit">
</form>

<!-- this message prints based on if handed in on time or not  -->
{% if message %}
    <p class="{{ message_type }}">{{ message }}</p>
{% endif %}
</div>
</div>

<script>
// These will be return values based on the exact assignment/course selected
const courseInput = document.getElementById("id_course_code");
const assignmentSelect = document.getElementById("id_assignment");
const dueDisplay = document.getElementById("due_date_display");
const instructionDisplay = document.getElementById("instruction_display");

// Filter the assignment drop down options based on the course code user enters
courseInput.addEventListener("input", function() {
    const code = this.value.toUpperCase();
    for (let i = 0; i < assignmentSelect.options.length; i++) {
        // Show only assignments that match the entered course code by the user
        const option = assignmentSelect.options[i];
        if(option.text.includes(`(${code})`)) {
            option.style.display = "";
        } else {
            option.style.display = "none";
        }
    }
    //Reset assignment, due date and instructions
    assignmentSelect.value = "";
    dueDisplay.textContent = " Assignment Due Date: ";
    instructionDisplay.textContent = "Instructions:";
});
// Once a specific assignment has been selected, display due date admin set, any instruction files
assignmentSelect.addEventListener("change", function() {
    const selectedId = assignmentSelect.value;
    // store due dates for each assignment
    const dueDates = {
        {% for a in assignments %}
        "{{ a.id }}": "{{ a.due_date|date:'Y-m-d H:i' }}",
        {% endfor %}
    };
     const instructionFiles = {
        {% for a in assignments %}
        "{{ a.id }}": "{% if a.instruction_file %}{{ a.instruction_file.url }}{% endif %}",
        {% endfor %}
    };
// display due date back to user to ensure they stay on task and meet deadlines. displays as text
    dueDisplay.textContent = "Assignment Due Date: " + dueDates[selectedId];
//check to see if admin upload instructions, either display if possible, or inform user of "no instructions uploaded"
      if (instructionFiles[selectedId]) {
        const fileName = instructionFiles[selectedId].split('/').pop();
        instructionDisplay.innerHTML =
            `<a href="${instructionFiles[selectedId]}" target="_blank">${fileName}</a>`;
    } else {
        instructionDisplay.textContent = "No instructions uploaded.";
    }
});
</script>
</body>
</html>