{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>

{% include 'header.html' %}
    <main class="dashboard-wrapper">
        <section class="dashboard-main">
            <div class="dashboard-card">
                <div class="card-header">
                    <h2>My Tools</h2>
                </div>
                <p class="card-description">
                    Access your course tools and academic resources from one place.
                </p>
                <div class="tool-grid">
                    {% if request.session.role == 'professor' %}
                        <!--Professor View-->
                        <a href="{% url 'professor_dashboard' %}" class="tool-card">
                            <div class="tool-content"><h3>Professor Dashboard</h3>
                                <p>View submissions and assign grades.</p>
                            </div>
                        </a>
                        <a href="{% url 'create_assignment' %}" class="tool-card">
                            <div class="tool-content"><h3>Create Assignment</h3>
                                <p>Create a new assignment for students.</p>
                            </div>
                        </a>
                    {% else %}
                        <!--Student View-->
                        <a href="{% url 'submit' %}" class="tool-card">
                            <div class="tool-content">
                                <h3>Assignment Instructions & Submission</h3>
                                <p>View assignment details and upload your work.</p>
                            </div>
                        </a>
                        <a href="{% url 'grades' %}" class="tool-card">
                            <div class="tool-content">
                                <h3>Final Grades Tracker</h3>
                                <p>Track your grades and monitor academic progress.</p>
                            </div>
                        </a>
                         <a href="{% url 'student_submissions' %}" class="tool-card">
                            <div class="tool-content">
                                <h3>View Your most-latest submissions</h3>
                                <p>View your most-latest submissions </p>
                            </div>
                        </a>
                    {% endif %}
                </div>
            </div>
        </section>
        <aside class="dashboard-sidebar">
            <div class="sidebar-card">
                <h3>Resources</h3>
                <!--Add things related to the project-->
                <ul>
                    <li><a href="https://github.com/nfava/IRM3007-OnlineLearningApplication/tree/main">GitHub Repo</a></li>
                    <li><a href="{% url 'converter' %}">GPA Converter</a></li>
                </ul>
            </div>
        </aside>
    </main>
</body>
</html>