{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
</head>
<body>
    {% include 'header.html' %}
    <main class="grade-page-container">
        <div class="grade-card">
            <h1>Grade Submission</h1>
            <p><strong>Student:</strong> {{ submission.student_name }}</p>
            <p><strong>Course:</strong> {{ submission.assignment.course_code }}</p>
            <p><strong>Assignment:</strong> {{ submission.assignment.title }}</p>
            <p><strong>Submitted:</strong> {{ submission.submitted_at }}</p>
            <p>
                <strong>Submitted File:</strong>
                <a href="{{ submission.file.url }}" target="_blank">Open Submission</a>
            </p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="grade-btn">Save Grade</button>
                {% if submission.grade or submission.feedback %}
                    <button type="submit" formaction="{% url 'final_approve_submission' submission.id %}" class="grade-btn">
                        Final Approval
                    </button>
                {% endif %}
            </form>
            <p class="back-link">
                <a href="{% url 'professor_dashboard' %}">← Back to Professor Dashboard</a>
            </p>

            <p>
            <strong>Time Remaining to Mark:</strong>
             {% if submission.grade %}
                 <span class="status-ontime">Already Marked</span>
                 {% else %}
                     <span style="color: #e65100; font-weight: 600;">
                         {{ submission.assignment.due_date|timeuntil }}
                     </span>
            {% endif %}
            </p>
        </div>
    </main>
</body>
</html>