{% load static %}
<header class="top-header">
    <div class="top-header-inner">
        <div class="logo">
            <a href="{% url 'dashboard' %}">
                <img src="https://brightspace.carleton.ca/d2l/lp/navbars/6606/theme/viewimage/1312242/view?v=20.26.3.21635" alt="Carleton University">
            </a>
        </div>
        <div class="top-header-right">
            <!--TO DO: Update this depending on who is using the account (prof or student)-->
            <!--TO DO: Sign in and log out functions-->
            <div class="user-badge">S</div>
            <span class="user-name">Student</span></div>
    </div>
</header>